{
  "presets": ["react", "airbnb", "stage-2"],
  "env": {
    "production": {
      "plugins": []
    },
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              }
            ]
          }
        ]
      ]
    }
  }
}
